body {
  background-color: #fafafa;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  margin-bottom: 0;
}

h1 {
  font-size: 28px;
  margin-bottom: 0;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  color: #555;
  font-weight: lighter;
}

li {
  color: #555;
  font-weight: lighter;
}

.container {
  max-width: 850px;
}

.description {
  color: #555;
  font-weight: lighter;
}

.card {
  border-radius: 0;
  border-width: 0;
  
  &-header {
    background-color: white;
  }
}

@import url('https://fonts.googleapis.com/css?family=Lato');

