:root {
  --background-light: #fafafa; 
  --background-white: #fff;
  --text-color: #555;
}

body {
  background-color: var(--background-light);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600;
  margin-bottom: 0;
}

h1 {
  font-size: 28px;
  margin-bottom: 0;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

p {
  margin-bottom: .5rem;
}

p,
ul > li {
  color: var(--text-color);
  font-weight: normal;
}

.container {
  max-width: 850px;
}

.card {
  border-radius: 0;
  border-width: 0;
  
  &-header {
    background-color: var(--background-white);
  }
}

@import url('https://fonts.googleapis.com/css?family=Lato');

